{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <div>
        <h1>Bu bizim welcome sayfamız</h1>
        <p class="lead">Welcome sayfasının açıklaması.</p>
    </div>
{% endblock %}