{% extends 'base.html.twig' %}

{% block title%}New Article {% endblock %}

{% block body %}

 <h1>Yeni Article Ekle</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}