{% extends 'base.html.twig' %}

{% block title%}Update Article {% endblock %}

{% block body %}

  <h1>Article Güncelle</h1>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_end (form) }}

{% endblock %}